@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.gradient-background {
    /* Define your gradient here */
    background-image: linear-gradient(to right, #e66465, #090f53);

 
}

.header-main-logo {
    width: fit-content;
    height: 100%;
}

.header-main-logo img{
    height: 50px;
    transition: transform .2s; /* Animation */
}

.header-main-logo img:hover{
    transform: scale(2);
}

.header-main a{
    font-size: x-large;
    font: bold;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
}
.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: .9;
}

/* Hover Effect on Icons */
.socialIcons a:hover {
    background-color: aqua;
    transition: .5s;
}

.socialIcons a:hover i{
    transition: .5s;
}

.footerBottom {
    padding: 20px;
    text-align: center;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #6CACE4;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.experience-section p{
    padding: 40px;
    align-items: start;
}

.experience-section-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    font-family: 'Super Bubble', sans-serif;
}

.experience-section-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    background-image: url(/img/OIP.jpg);
    background-size: 42px;
    background-position: center;
}
.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #6CACE4;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #6CACE4 transparent transparent;
}

.right::after {
    left: -12px;
}

.timeline-content {
    padding: 20px 30px;
    background-color: #6CACE4;
    position: relative;
    border-radius: 6px;
}
.date-class {
    font-family: 'Super Bubble', sans-serif;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
      .timeline::after {
        left: 31px;
      }
    
    /* Full-width containers */
      .experience-section-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
      }
    
    /* Make sure that all arrows are pointing leftwards */
      .experience-section-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
    
    /* Make sure all circles are at the same spot */
      .left::after, .right::after {
        left: 18px;
      }
    
    /* Make all right containers behave like the left ones */
      .right {
        left: 0%;
      }
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}
.nav-link {
    color: black;
    font-weight: 500;
    position: relative;
}
.nav-link:hover, .nav-link.active{
    color: black;
}
@media (min-width: 991px){
    .navbar-nav {
    text-align: center;
    margin: auto;
    }
    .nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: aqua;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
    .nav-link:hover::before {
        width: 100%;
        visibility: visible;
    }
}

.section-header {
    font-size: 4.5rem!important;
    padding: 60px;
    font-family: 'Super Bubble', sans-serif;
}

.checkbox {
    position: absolute; /* Keeps the checkbox in a fixed position on the screen */
    top: 60px;       /* Distance from the top of the viewport */
    right: 20px;     /* Distance from the right of the viewport */
    /* Add other styling as needed */
}
.color-mode-checkbox {
    opacity: 0;
    position: absolute;
}

.color-mode-checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.color-mode-checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.color-mode-checkbox:checked + .color-mode-checkbox-label .ball{
    transform: translateX(-24px);
}

.about-section {
    display: flex; /* Enables flexbox */
    align-items: center; /* Aligns items vertically in the center */
    justify-content: space-around; /* Aligns items horizontally in the center */
    gap: 10px; /* Optional: Adds space between items */
    padding: 100px;
}

.bio-image{
    width: 500px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
    border-radius: 10%; /* makes image round */
    border: 3px solid black; /* adds color border */
    box-shadow: 0 0 10px #888888;
}
.bio-image:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  
}

@keyframes shake {
    0% {transform: translate(1px, 1px) rotate(0deg); }
    10% {transform: translate(-1px, -2px) rotate(-1deg); }
    20% {transform: translate(-3px, 0px) rotate(1deg); }
    30% {transform: translate(3px, 2px) rotate(0deg); }
    40% {transform: translate(1px, -1px) rotate(1deg); }
    50% {transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.text-box-text{
    border: 5px solid black;
    padding: 15px;
    font-family: 'Super Bubble', sans-serif;
    border-radius: 15%;
    text-decoration: none;
    word-wrap: break-word; /* Ensures long words do not overflow */
}
.skills-icons {
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 20px;
}

.skills-icons a {
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
}

.tag-cloud {
    display: inline-block;
    color: white;
    padding: 8px 20px;
    border-radius: 25px;
    background-color: #2196F3;
    margin-top: 8px;
    transition: transform .2s; /* Animation */
}
.tag-cloud:hover{
    transform: scale(3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.nav-item {
    font-family: 'Super Bubble', sans-serif;
}

.interests-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 20px 30px;
    margin: 0;
}
.subsection-header{
    font-family: 'Super Bubble', sans-serif;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
}
.interest {
    text-align: center;
    padding: 10px;
    transition: transform .2s; /* Animation */
}
.interest:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.interest img{
    width: 130px;
}

.interest p {
    margin-top: 10px;
    font-family: 'Super Bubble', sans-serif;
}